numpy==1.21.5
sklearn==0.0
scikit-learn==1.0.2
seaborn==0.11.2
matplotlib==3.5.1
Flask==1.0.2
itsdangerous==0.24
Jinja2==3.0.1
MarkupSafe==2.0
pandas==1.4.1
python-dateutil==2.8.1
pytz==2020.1
scipy
six==1.11.0
Werkzeug==0.14.1
gunicorn==20.0.4
